#lostConnection {
  display: flex;
  justify-content: center;
}

#lostConnectionBox {
  padding: 1em;
  margin-top: 3em;
  text-align: center;
}

#lostConnectionBox p {
  margin: 0;
}

#lostConnectionText {
  color: #cc0000;
  font-weight: bold;
}
