.cardCountDisplay {
  position: relative;
}

.cardCountDisplayCard {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;

  background-color: #dddddd;
  border-color: #666666;
}

.cardCountDisplayCard label {
  font-size: 2em;

  color: #444444;
}
