body, html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}

#cardPopup {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1em;
  text-align: center;

  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;

  box-shadow: 0px 3px 5px -3px #9e9e9e;
}

#popupName {
  margin-bottom: 1em;
}

#popupType {
  margin-top: 1.5em;
  position: relative;
}

#popupCost {
  position: absolute;
  bottom: 0;
  left: 0;
}

#cardPopup p {
  margin: 0;
}

#game {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 100%;
}

#gameColumns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

#table {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#nonSupply {
  margin-bottom: 0.6em;
}

#prizes, #nonSupply {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#prizes p, #nonSupply p {
  text-align: center;
  margin: 0;
}

#prizes .name {
  margin-right: 1em;
}

#supply {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#supply p {
  margin: 0;
}

#kingdom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 1em 0 1em;
}

.kingdomPile > .name > p {
  white-space: nowrap;
}

.kingdomPile > .name > .subtitle {
  font-size: 80%;
  text-align: center;
}

.kingdomPile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.4em;
}

.kingdomPile > .cardArt {
  width: 4em;
  position: relative;
}

.kingdomPile > .cardArt > img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 0.2em;
}

.kingdomPile > .status {
  text-align: center;
  min-width: 3em;
}

.pileSize {
  color: #777777;
  font-size: 85%;
}

#basic {
}

.basicPile {
  text-align: center;
  margin-bottom: 0.4em;
}

.basicPile > .cardArt {
  width: 4em;
  position: relative;
}

.basicPile > .cardArt > img {
  z-index: 1;
  width: 100%;
  vertical-align: bottom;
  border-radius: 0.2em;
}

.cardArt > .cross {
  z-index: 3;
  width: 2em;
  height: 2em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cardArt > .cross > img {
  width: 100%;
}

.cardArt > .plus {
  z-index: 2;
  width: 1.7em;
  height: 1.7em;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cardArt > .plus > img {
  width: 100%;
  border-bottom-right-radius: 0.2em;
}

.pileTokens {
  z-index: 4;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pileTokens > .embargoTokens {
  color: #ffffff;
  background-color: #ab47bc;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.pileTokens > .tradeRouteToken {
  color: #000000;
  background-color: #ffd54f;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#play {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* hack to let play take up the remaining horizontal space */
  flex-grow: 10;
}

#play p {
  margin: 0;
}

#log {
  margin: 0 0 1em 1em;
}

.logIndent {
  margin-left: 2em;
}

.turnIndent {
  margin-bottom: 1.5em;
}

.turnTitle {
  font-weight: bold;
}

#playerStatus {
  margin-left: 2em;
  margin-bottom: 1em;
}

.forfeit, .hurryUp {
  color: #CC0000;
}

#waitingOn {
  margin-left: 3em;
  margin-bottom: 2em;
  color: #0000ee;
  font-style: italic;
}

#waitingOnText {
  display: inline;
}

#hurryUpButton {
  margin-left: 2em;
}

.dropShadow {
  box-shadow: 0px 3px 5px -3px #9e9e9e;
}

#prompt {
  margin: 0 2em 2em 0;
  padding: 0.4em 0.6em 0.6em 0.6em;
  border-radius: 0.4em;
  border-style: solid;
  border-width: 0.5em 1px 1px 1px;
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.2);
}

#prompt .title {
  margin-left: 0.4em;
  font-weight: bold;
}

#prompt .message {
  margin-top: 0.2em;
}

#prompt button {
  margin: 0.6em 1.2em 0 0;
}

.actionPrompt {
  background-color: #f5f5f5;
  border-color: #757575 #9e9e9e #9e9e9e #9e9e9e;
}

.actionPrompt .title {
  color: #424242;
}

.attackPrompt {
  background-color: #ffebee;
  border-color: #f44336 #ef9a9a #ef9a9a #ef9a9a;
}

.attackPrompt .title {
  color: #d32f2f;
}

.buyPrompt {
  background-color: #fffde7;
  border-color: #f9a825 #fdd835 #fdd835 #fdd835;
}

.buyPrompt .title {
  color: #f57f17;
}

.reactionPrompt {
  background-color: #e3f2fd;
  border-color: #1e88e5 #42a5f5 #42a5f5 #42a5f5;
}

.reactionPrompt .title {
  color: #1565c0;
}

#more {
  margin-bottom: 1em;
}

#moreContents {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

#moreContents p {
  margin-bottom: 0.5em;
}

#playerStatusRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#turnStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#turnStatusTags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

#turnStatusValues {
  margin-left: 0.2em;
  display: flex;
  flex-direction: column;
  font-size: 130%;
  text-align: center;
}

.notAutoplayingTreasures {
  color: #cc0000;
}

#optionsButton {
  margin-left: 1em;
}

#deckStatus {
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#deckStatusTags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
}

#deckStatusValues {
  margin-left: 0.4em;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#deckStatusValues > div {
  height: 1.4em;
}

#drawStatus {
  margin-bottom: 0.3em;
}

.oneCard {
  display: inline-block;
  margin-right: 5px;
  width: 3px;
  height: 1.4em;
  background-color: #777777;
}

#hand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.handCard {
  margin-right: 1.2em;
  margin-bottom: 1em;
}

.handCardStack {
  position: relative;
}

.handCardStack > img {
  position: absolute;
  width: 10em;
  box-shadow: -3px -3px 3px #eee;
  border-radius: 0.4em;
}

.handCardName {
  margin-top: 0.5em;
  text-align: center;
}

/* Chat */
#chat {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#chatDisplay {
  word-wrap: break-word;
}

.chatUsername {
  font-weight: bold;
}

#chatControl {
  margin-bottom: 1em;
}

#chatSendButton {
  margin-left: 1em;
}

/* Card name background colors */
.action-victory, .treasure-victory, .treasure-reaction, .victory-reaction, .reaction, .reaction-shelter, .action-shelter, .victory-shelter, .duration, .ruins, .action, .treasure, .victory, .curse {
  border-radius: 0.3em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.action-victory {
  background: linear-gradient(#cecece 50%, #66bb6a 50%);
}

.treasure-victory {
  background: linear-gradient(#ffd54f 50%, #66bb6a 50%);
}

.treasure-reaction {
  background: linear-gradient(#ffd54f 50%, #64b5f6 50%);
}

.victory-reaction {
  background: linear-gradient(#66bb6a 50%, #64b5f6 50%);
}

.reaction {
  background-color: #64b5f6;
}

.reaction-shelter {
  background: linear-gradient(#ef5350 50%, #64b5f6 50%);
}

.action-shelter {
  background: linear-gradient(#cecece 50%, #ef5350 50%);
}

.victory-shelter {
  background: linear-gradient(#ef5350 50%, #66bb6a 50%);
}

.duration {
  background-color: #ff9100;
}

.ruins {
  background-color: #8d6e63;
}

.action {
  background-color: #cecece;
}

.treasure {
  background-color: #ffd54f;
}

.victory {
  background-color: #66bb6a;
}

.curse {
  background-color: #ce93d8;
}

/* Effects on hovering over clickable elements */
.clickable:hover {
  cursor: pointer;
}

.clickable:hover .handCardName {
  color: #CC0000;
}

/* Login */
#loginContainer {
  display: flex;
  justify-content: center;
}

#login {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 3em;
}

#login input {
  margin-bottom: 1em;
}

.optional {
  font-size: 85%;
  color: #444444;
}

#loginButtons {
  display: flex;
  justify-content: center;
}

#newLogin {
  text-align: right;
  font-size: 70%;
  color: #0645AD;
}

#newLogin:hover {
  cursor: pointer;
}

#login p {
  margin: 0;
}

.loginError, .customGameError {
  padding-top: 1em;
  font-size: 85%;
  color: red;
}

/* Lobby */
#lobby, #gameLobby {
  padding: 1em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#lobbyHeader {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

#lobbyUsernameText {
  font-weight: bold;
  font-size: 120%;
}

#legal {
  text-align: center;
  font-size: 75%;
  padding-bottom: 0.5em;
}

#lobbyBody {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.lobbySection {
  padding: 0.6em;
  margin-bottom: 1em;

  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  box-shadow: 0px 3px 5px -3px #9e9e9e;
}

h1 {
  margin: 0;
  font-size: 120%;
}

.lobbyContent {
  padding-top: 0.4em;
}

.lobbyControl {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#lobby p {
  margin: 0;
}

#automatch3Checkbox, #automatch4Checkbox {
  margin-left: 1em;
}

#botList > div {
  margin-bottom: 0.5em;
}

#botList > div button {
  margin-left: 0.5em;
}

#createCustomGameButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#gamesSection {
  flex-grow: 10;
  margin-left: 1em;
}

#removeClosedButton {
  margin-bottom: 0.5em;
}

#gameList {
  display: flex;
  flex-direction: column;
}

.rowDiv:nth-child(even) {
  background-color: #e0e0e0;
}

.rowDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 1em;
}

.rowDivJoinable:hover {
  cursor: pointer;
}
.rowDivJoinable:hover .nameDiv {
  color: #3366BB;
}

.rowDiv > div {
  margin-right: 2em;
}

.nameDiv {
  min-width: 10em;
  word-wrap: break-word;
}

.playersDiv {
  min-width: 5em;
}

.gameListingOpen {
  color: #009900;
}

.gameListingClosed {
  color: #cc0000;
}

.setsDiv {
  min-width: 8em;
}

.cardsDiv {
  min-width: 10em;
}

/* Game Lobby */
#gameLobbyName {
  text-align: center;
}

.ready, .notReady {
  margin-left: 0.5em;
}

.ready {
  color: #009900;
}

.notReady {
  color: #cc0000;
}

/* Bots! */
.botName {
  color: #555555;
}

/* Lost Connection */
#lostConnection {
  display: flex;
  justify-content: center;
}

#lostConnectionBox {
  padding: 1em;
  margin-top: 3em;
  text-align: center;
}

#lostConnectionBox p {
  margin: 0;
}

#lostConnectionText {
  color: #cc0000;
  font-weight: bold;
}
